
<%= form_for @book do |f| %>
  <div class="form-group">
  <div class="row">
  	<div class="col-12 col-md-3"> 
  		<h2>ISNB</h2>
  	</div>
  	<div class="col-12 col-md-9">
    	<% f.label :book_isbn, class: "form-control" %>
    	<%= f.text_field :isbn, class: "form-control", placeholder: "Enter Isbn Id" %>
    	</div>
    </div
  </div>
  <div class="form-group">
  	<div class="row">
  		<div class="col-12 col-md-3">
  			<h2>Title</h2>
  		</div>
  		<div class="col-12 col-md-9">
    		<% f.label :book_title, class: "form-control" %>
    		<%= f.text_field :title, class: "form-control", placeholder: "Enter The title of the Book" %>
    	</div>
    </div>
  </div>


  <div class="form-group">
  <label for="book-author">Author: </label><%= f.text_field :author %>
  </div>
  <div class="form-group">
  <label for="book_publication_date">PublicationDate: </label><%= f.text_field :publication_date %>
  </div>
  <div class="form-group">
  <label for="book_cover_url">Cover: </label><%= f.text_field :cover_url %>
  </div>
   <div class="form-group">
  <label for="book-summary">Summary: </label><%= f.text_area :summary %>
  </div>
  <div class="form-group">
  <label for="book_status">Status: </label><%= f.text_field :status %>
  </div>
  <div class="form-group">
  <label for="book_cover_url">User_id: </label><%= f.text_field :user_id %>
  </div>
  
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>