<div class="jumbotron">
	<img class="img-fluid rounded mx-auto d-block"" src= "<%= @book.cover_url%>" alt="image cover" width: "90%";>
	
	<fieldset>
		<legend><h2><%= @book.title %></h2></legend>
		<summary> ISBN: 
			<%= @book.isbn %>
			STATUS: 
			<%= @book.status %>
			<details>
				<li class="list-group-item"> Written by <%= @book.author %></li>
				<li class="list-group-item">Published :<%= @book.publication_date%></li>
				<li class="list-group-item"><h4><%= @book.summary %></h4></li>
			</details>
		</summary>

	</fieldset>
	
		<% if @admin %>
		    <div class="row">
            	<div class="col-3"> 
                	<button class="btn btn-success"><%= link_to "new book", "/books/new" %></button>         
              	</div>
              	<div class="col-3">
                	<button class="btn btn-info"><%= link_to 'Edit Book', edit_book_path(@book.id) %> </button>
              	</div>
              	<div class="col-3">
                	<%= button_to "delete", @book, :method => :delete, class: "btn btn-danger" %>
                </div>
                
                	<% if @admin && @book.status != "available" or @book.status != nil %>		            
		              	<div class="col-3">
		                	<%= button_to "return", @book, :method => :return, class: "btn btn-success" %>          
		              	</div>
		            <% end %>          
		              	             	
		    </div>

        <% elsif @borrow %>
        	<%= button_to "borrow", "/books/#{@book.id}/borrow", :method => :put, class: "btn btn-info" %>
        <% end %>
	
</div>
