<!DOCTYPE html>
<html>
  <head>
    <title>Biblored</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
       $(function ()

{ $("#myModal").modal({show:false });
    </script>
  </head>

  <body>

    <%= render "books/login_modal" %>

    <%= render "books/sign_up_modal" %>
    
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= render "layouts/header" %>


    <%= yield %>

  </body>
</html>
